
@import 'base';
@import 'normalize.css';

.header {
  color: red;
  height: 500px;
  background: url('./beach.jpg');
}

.content {
  font-family: $font-main, 'Helvetica';
  color: green;
  font-weight: bold;
}
